.title-bar{
    position : absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height : 75px;
    background : transparent;
    z-index : 0;
    min-width: @screenMinWidth;
    white-space: nowrap;
    background : @barBackground;
    @media  @smallQuery, @mediumQuery{
        height : 60px;
    }
    h1{
        text-transform : uppercase;
        font-size : 40px;
        line-height : 75px;
        font-weight : 400;
        @media @mediumQuery{
            font-size : 40px;
            line-height : 60px;
        }
        @media @smallQuery{
            font-size : 30px;
            line-height : 60px;
        }
        &:before{
            content: 'Weather for ';
            @media @smallQuery{
                content: '';
            }
        }
    }
}
