<section class="weather-panel-daily" ng-show="ForecastService.forecast.success">
    <div class="weather-table">
        <h1>5 day forecast</h1>
        <h3 class="info-summary">{{ForecastService.forecast.daily.summary}}</h3>
        <!-- weekday -->
        <div class="td info-day" ng-repeat="dayInfo in fiveDays">
            {{$parent.getWeekDay( ForecastService.forecast.daily.data[ $index ] )}}
        </div>
        <!-- info icon -->
        <div class="td info-icon" ng-repeat="dayInfo in fiveDays">
            <img ng-src="img/{{ForecastService.forecast.daily.data[ $index ].icon}}.png">
        </div>
        <!-- high -->
        <div class="td info-temp high" ng-repeat="dayInfo in fiveDays">
            {{ForecastService.forecast.daily.data[ $index ].temperatureMax | number : 0 }}&deg;
        </div>
        <!-- low -->
        <div class="td info-temp low" ng-repeat="dayInfo in fiveDays">
            {{ForecastService.forecast.daily.data[ $index ].temperatureMin | number : 0 }}&deg;
        </div>
        <!-- humidity -->
        <div class="td info-humidity" ng-repeat="dayInfo in fiveDays">
            <img src="img/icon_humidity_small.png"> {{ForecastService.forecast.daily.data[ $index ].humidity * 100 | number : 0 }}&#37;
        </div>
    </div>
</section>
